
<br><br>
<div class="card middle" style="margin: 0 auto;">
  <div class="top-section" *ngFor='let img of imgData'>
  <br><br>
  <div class="info-section" *ngFor='let data of userData'>
    <h2>{{data.name}} {{data.lastName}}
      <br>
      <div class="border"></div>
    </h2>
    <div style="display: flex; flex-direction: column;">
      <img [src]="img.ImageBaseData">
      <span> <b> Phone Number :</b> {{data.phone_number}}</span>
      <span> <b>Age :</b> {{data.age}}</span>
      <span><b>Country :</b> {{data.country}}</span>
      <span><b>State :</b> {{data.state}}</span>
      <span><b>Home Address :</b> {{data.homeAddress1}} , {{data.homeAddress2}}</span>
      <span><b>Office Address :</b> {{data.officeAddress1}} , {{data.officeAddress2}}</span>
      <span><b>Tag :</b> {{data.Tags}}</span>
    </div>
  </div>
  <hr>
  <br>
</div>
</div>
