<!-- <button mat-raised-button (click)="openDialog()">Basic</button> -->

<div class="wrapper">
    <div class="Container">
          <div class="nav">
              <div class="logo">
                  LOGO
              </div>
              <div class="menu">
                  <ul class="navMenu">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Log In</a></li>
                      <li><a href="#">User</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a (click)="openDialog()">Register</a></li>
                  </ul>
              </div>
          </div>
          <div class="header">
              <h1>User Register</h1>
             
             <button mat-raised-button (click)="openDialog()">Register</button>
          </div>
      </div>
  </div>